<% if weight_records.any? %>
  <% weight_records.each do |record| %>
    <%= image_tag record.user.avatar_url, class: 'user-avatar rounded-circle border mb-3' %>
    <p>ユーザー名：<%= record.user.name %> | リンゴ体重：<%= record.decorate.apple_weight %>個分</p>
    <p>登録日時：<%= record.created_at.strftime("%Y/%m/%d %H:%M") %></p>
    <%= link_to '詳細', weight_record_path(record), class: 'btn btn-primary' %>
    <hr>
  <% end %>
<% else %>
  <p>体重の記録はありません。</p>
<% end %>
