<h1><%= t ".title", user_name: current_user.name %></h1>
<% if current_user?(@user) %>
  <p>メールアドレス：<%= @user.email %></p>
<% end %>
<p>身長：<%= @user.height ? "#{@user.height}" : " -- " %>cm</p>
<p>理想リンゴ体重：<%= @user.decorate.ideal_apple_weight %>個（<%= @user.decorate.ideal_weight %>kg）</p>

<% if current_user?(@user) %>
  <%= link_to t('.edit_btn'), edit_user_path(@user), class: 'btn btn-primary' %>
  <%= link_to t('.destroy_btn'), user_path(@user), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: 'btn btn-primary' %>
<% end %>

<h2 class="mt-3">体重記録一覧</h2>
<hr>
<%= render 'shared/weight_records/weight_records', weight_records: @user.weight_records %>
