<%= form_with model: user do |f| %>
  <div>
    <%= f.label :name, 'ユーザ名：' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email, 'メールアドレス：' %>
    <%= f.email_field :email %>
  </div>
  <%= f.submit %>
<% end %>
