<% content_for(:title, t('.title')) %>
<h1><%= t('.title') %></h1>
<p>体重： リンゴ<%= @weight_record.decorate.apple_weight %>個分 （<%= @weight_record.weight %>kg）</p>
<p>メモ：<%= @weight_record.memo ? "#{@weight_record.memo}" : " -- " %></p>

<p>理想リンゴ体重：<%= @weight_record.decorate.compare_ideal_current_apple_weight %></p>

<p>登録日時：<%= @weight_record.created_at.strftime("%Y/%m/%d %H:%M") %></p>

<% if current_user?(@weight_record.user) %>
  <%= link_to t('.edit_btn'), edit_weight_record_path(@weight_record), class: 'btn btn-primary' %>
  <%= link_to t('.destroy_btn'), weight_record_path(@weight_record), data: { turbo_method: :delete, turbo_confirm: t('messages.delete_confirmation') }, class: 'btn btn-primary' %>
<% end %>
<hr>
<%= render 'comments/form', comment: @comment, weight_record: @weight_record %>

<table class="table">
  <tbody id="table-comment">
    <%= render @comments %>
  </tbody>
</table>
