<%= form_with model: user do |f| %>
  <div>
    <%= f.label :name, 'ユーザ名：' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email, 'メールアドレス：' %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :height, '身長：' %>
    <%= f.number_field :height, step: '0.1' %>
  </div>
  <div>
    <%= f.label :password, 'パスワード：' %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, 'パスワード確認：' %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
